In [1]:
import numpy as np
import pandas as pd
from scipy.stats import norm

In [2]:
def price(is_call, S, K, T, r, b, v):
    d1 = (np.log(S / K) + T * (b + v ** 2 / 2)) / (v * np.sqrt(T))
    d2 = d1 - v * np.sqrt(T)

    if is_call:
        return S * np.exp((b - r) * T) * norm.cdf(d1) - K * np.exp(-r * T) * norm.cdf(d2)
    else:
        return K * np.exp(-r * T) * norm.cdf(-d2) - S * np.exp((b - r) * T) * norm.cdf(-d1)

In [3]:
data = pd.DataFrame([
    {'S': 110, 'K': 100, 'r': 0.1, 'q': 0.08, 'T': 6/12, 'v': 0.125},
    {'S': 110, 'K': 100, 'r': 0.1, 'q': 0.08, 'T': 6/12, 'v': 0.125},
    {'S': 100, 'K': 100, 'r': 0.1, 'q': 0.08, 'T': 6/12, 'v': 0.125},
    {'S': 100, 'K': 100, 'r': 0.1, 'q': 0.08, 'T': 6/12, 'v': 0.125},
    {'S': 100, 'K': 110, 'r': 0.1, 'q': 0.08, 'T': 6/12, 'v': 0.125},
    {'S': 100, 'K': 110, 'r': 0.1, 'q': 0.08, 'T': 6/12, 'v': 0.125},
])
data

     S    K    r     q    T      v
0  110  100  0.1  0.08  0.5  0.125
1  110  100  0.1  0.08  0.5  0.125
2  100  100  0.1  0.08  0.5  0.125
3  100  100  0.1  0.08  0.5  0.125
4  100  110  0.1  0.08  0.5  0.125
5  100  110  0.1  0.08  0.5  0.125

In [4]:
price(True, data['S'], data['K'], data['T'], data['r'], data['r'] - data['q'], data['v'])

0    11.069546
1    11.069546
2     3.869500
3     3.869500
4     0.788169
5     0.788169
dtype: float64