In [1]:
import numpy as np
import pandas as pd
from scipy.stats import norm

In [2]:
data = pd.DataFrame([
    {'is_call': True, 'S': 110, 'K': 100, 'r': 0.1, 'q': 0.08, 'T': 6/12, 'v': 0.125},
    {'is_call': False, 'S': 110, 'K': 100, 'r': 0.1, 'q': 0.08, 'T': 6/12, 'v': 0.125},
    {'is_call': True, 'S': 100, 'K': 100, 'r': 0.1, 'q': 0.08, 'T': 6/12, 'v': 0.125},
    {'is_call': False, 'S': 100, 'K': 100, 'r': 0.1, 'q': 0.08, 'T': 6/12, 'v': 0.125},
    {'is_call': True, 'S': 100, 'K': 110, 'r': 0.1, 'q': 0.08, 'T': 6/12, 'v': 0.125},
    {'is_call': False, 'S': 100, 'K': 110, 'r': 0.1, 'q': 0.08, 'T': 6/12, 'v': 0.125},
])
data

   is_call    S    K    r     q    T      v
0     True  110  100  0.1  0.08  0.5  0.125
1    False  110  100  0.1  0.08  0.5  0.125
2     True  100  100  0.1  0.08  0.5  0.125
3    False  100  100  0.1  0.08  0.5  0.125
4     True  100  110  0.1  0.08  0.5  0.125
5    False  100  110  0.1  0.08  0.5  0.125

In [3]:
def price(df):
    d1 = (np.log(df['S'] / df['K']) + df['T'] * (df['b'] + df['v'] ** 2 / 2)) / (df['v'] * np.sqrt(df['T']))
    d2 = d1 - df['v'] * np.sqrt(df['T'])

    return pd.Series(np.where(
        df['is_call'],
        df['S'] * np.exp((df['b'] - df['r']) * df['T']) * norm.cdf(d1) - df['K'] * np.exp(-df['r'] * df['T']) * norm.cdf(d2),
        df['K'] * np.exp(-df['r'] * df['T']) * norm.cdf(-d2) - df['S'] * np.exp((df['b'] - df['r']) * df['T']) * norm.cdf(-d1)
    ), name='price')

In [4]:
data['b'] = data['r'] - data['q']
x = price(data)

In [5]:
pd.Series(x, name='price')

0    11.069546
1     0.505650
2     3.869500
3     2.913499
4     0.788169
5     9.344461
Name: price, dtype: float64